canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.win {
  color: var(--profile-color);
  font-size: calc(1.5em + 1vw);
}

#scoreBoard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  left: calc(25% + 50% + 20px);
  font-size: calc(1em + 1vw);
}

.remote_buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}

.local_buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  white-space: nowrap;
}

.gameButton {
  color: var(--item-color);
  font-size: calc(1em + 1vw);
  cursor: pointer;
}

.gameButton:hover {
  color: var(--profile-background);
}

.gameButton:focus {
  color: var(--profile-background);
  border: 2px solid var(--item-color);
}
