@import url(./play.css);
@import url(./reset.css);

:root {
  --disabled-background-color: #3130a1;
  --item-color: white;
  --profile-color: #f6faf9;
  --profile-background: #ffcd29;
  --black-color: black;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}

#app {
  display: grid;
  grid-template-rows: 20% 40% 30% 10%;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "header header header"
    "content content nav"
    "content content nav"
    ". . .";
}

header {
  grid-area: header;
  color: var(--black-color);
  margin-top: 7%;
  margin-left: 15%;
  text-align: left;
}

.main_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  margin-right: 7%;
}

.btn.dropdown-toggle {
  opacity: 0.7;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s ease;
}

.drmenu {
  font-size: calc(0.7vw + 0.7vh + 0.5vmin);
}

#d_menu {
  padding-left: 0.3em;
  padding-right: 0.3em;
  --bs-dropdown-min-width: 100%;
  background-color: rgba(128, 128, 128, 0.5);
}

#d_menu .disabled {
  background-color: var(--disabled-background-color);
}

#item1 {
  color: var(--item-color);
  border-radius: 3%;
}

#item2 {
  margin-top: 0.2em;
  color: var(--item-color);
  border-radius: 3%;
}

#item3 {
  margin-top: 0.2em;
  color: var(--item-color);
  border-radius: 3%;
}

.dropdown-item:hover {
  transition: 0.8s;
  --bs-dropdown-link-hover-bg: rgba(18, 18, 18, 0.3);
}

.dropdown-item {
  font-size: 1rem;
  height: auto;
}
#main_link {
  font-size: calc(2vw + 2vh + 0.5vmin);
}

.item {
  width: 100%;
}

section {
  grid-area: content;
  padding: 0.5em;
  margin-left: 11rem;
}

.modal_content {
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.5);
  border-radius: 30px;
}

.profile_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8vw;
  padding: 2rem 0.5rem;
  font-size: 1em;
}

.profile_nav_item a {
  text-decoration: none;
  color: var(--profile-color);
}

.active_tab {
  color: var(--profile-background);
}

.profile_nav_item .active_tab {
  color: var(--profile-background);
}

.profile_container {
  display: flex;
  justify-content: center;
}

.profile_content {
  padding: 0.5rem;
}

.profile_content_elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 50%;
  padding: 1.25rem;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.625rem;
  padding: 1.25rem;
  margin-top: 80%;
}

.nav__link {
  font-size: calc(1vw + 2vh + 0.5vmin);
  padding: 0.3em 0.5em;
  text-decoration: none;
  color: var(--item-color);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.nav__link:hover {
  color: var(--black-color);
}

a {
  text-decoration: none;
}

body.error-background {
  background-image: url("/static/assets/errorBackgroundImg.png");
}

body.normal-background {
  background-image: url("/static/assets/normalBackgroundImg.png");
}

.profile_img {
  width: 15vw;
  height: 15vw;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 50%;
  border: 2px solid #fff;
  padding: 1rem;
}

.profile_name,
.profile_status,
.profile_count {
  text-align: center;
  width: 100%;
  color: var(--profile-color);
}

.profile_name {
  font-size: 1.2rem;
}

.profile_status {
  font-size: 0.8rem;
  position: relative;
  width: 80%;
}

.profile_count {
  margin-top: 1rem;
  font-size: calc(1vw + 2vh + 0.5vmin);
}

.profile_img_container {
  position: relative;
}

.pencil-profile {
  width: 3vw;
  height: 3vw;
  background-color: var(--profile-background);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  right: 0;
}

.pencil-status {
  width: 3vw;
  height: 3vw;
  background-color: var(--profile-background);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  right: 0.1rem;
  top: -0.5rem;
}

.errorPage_h2 {
  text-align: center;
  font-size: calc(1vw + 2vh + 0.5vmin);
  text-decoration: none;
  white-space: nowrap;
  color: var(--item-color);
  transition: background-color 0.3s ease-in-out;
}

.errorPage_a {
  white-space: nowrap;
}
