@media screen and (max-width: 768px) {
  #app {
    grid-template-rows: 1fr 3fr 0.5fr 0.5fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "content"
      "nav"
      ".";
  }
  section {
    margin-left: 0;
  }

  .modal_content {
    width: 100%;
    padding: 0;
  }

  .profile_nav_item {
    font-size: 0.8em;
  }

  header {
    margin-left: 0;
    margin-top: 10%;
    text-align: center;
  }
  nav {
    display: inline;
    margin: 0;
    text-align: center;
  }
}
